{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.balance.label }}<br>
            {{ form.balance(class_="form-control") }}
        </p>
        <p>
            {{ form.scheduled.label }}<br>
            {{ form.scheduled(class_="form-control") }}
        </p>
        <p>
            {{ form.target_date.label }}<br>
            {{ form.target_date(class_="form-control") }}
        </p>
        <p>{{ form.submit(class_="btn btn-block btn-primary mt-2") }}</p>
    </form>
{% endblock %}
